alias k="kubectl"
alias kch="kubectl config use-context"
alias kall="kubectl api-resources --verbs=list --namespaced -o name | xargs -n 1 kubectl get -n stardust"

alias myip='curl whatismyip.akamai.com'
alias gen_pass='openssl rand -base64 16'
alias dns_flush="sudo killall -HUP mDNSResponder;sudo killall mDNSResponderHelper;sudo dscacheutil -flushcache"

alias g="gcloud"
alias gca="gcloud config configurations activate"
alias gcsp="gcloud config set project"

alias csum="md5sum <<<"

alias dc="docker-compose"

alias ls=lsd
alias l='ls -l'
alias la='ls -a'
alias lla='ls -la'
alias lt='ls --tree'

alias vim='nvim'
