[push]
        default = current
[color]
        ui = auto
[alias]
        aa = add --all
        ca = commit --amend -C HEAD
        b = "!git for-each-ref --sort='-authordate' --format='%(authordate)%09%(objectname:short)%09%(refname)' refs/heads | sed -e 's-refs/heads/--'"
        ci = commit -v
        co = checkout
        cb = checkout -b
        fo = fetch origin
        pf = push --force-with-lease
        po = push -u origin
        st = status -s
        su = "!git rev-parse --abbrev-ref HEAD | xargs -I '{}' git branch --set-upstream-to=origin/'{}' '{}'"
        lf = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
        la = "!git config -l | grep alias | cut -c 7-"
        ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
        ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
        l  = log --oneline --decorate
        rc = rebase --continue
        of = !git fetch origin staging master > /dev/null 2>&1 && git outstanding-features -f origin/staging -t origin/master
        au = update-index --assume-unchanged
        ff = ff-all-branches
[core]
        excludesfile = /Users/zhivko/.global_ignore
	autocrlf = input
        editor = /usr/local/bin/vim
[commit]
        template = ~/.gitmessage
[fetch]
        prune = true
[rebase]
        autosquash = true
[user]
        name = Zhivko Draganov
        # email = zhivko.draganov@gmail.com
        email = zhivko.draganov@mariadb.com
[rerere]
        enabled = true
[pull]
	rebase = true
